<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=cp1251" />
    <title>Отзыв</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</head>
<body>

<div th:replace="../views/header :: header"></div>

<div class="container">
    <div class="row">
        <div class="col-9">
            <div th:text="${confect.name}"></div>
            <img th:src="@{'/resources/images/'+${confect.id}+'.jpg'}" height="300" alt=""/>
            <div th:text="${confect.description}"></div>
            <div>
                <form th:action="@{/confect/{id1}/review(id1=${confect.id})}" method="post">
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" th:field="${new_review.mark}" value="5">
                            <label class="form-check-label" for="exampleRadios1">5</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" th:field="${new_review.mark}" value="4">
                            <label class="form-check-label" for="exampleRadios1">4</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" th:field="${new_review.mark}" value="3">
                            <label class="form-check-label" for="exampleRadios1">3</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" th:field="${new_review.mark}" value="2">
                            <label class="form-check-label" for="exampleRadios1">2</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" th:field="${new_review.mark}" value="1">
                            <label class="form-check-label" for="exampleRadios1">1</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Ваш отзыв</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" th:field="${new_review.newReview}"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Отправить</button>
                </form>
            </div>
         </div>
        </div>
    </div>
</div>

</body>
</html>